<footer>
    {{#if @labs.subscribers}}
    <section class="subscribe">
        <div class="row">
            <div class="one-half column text-right">
                <h3>Subscribe</h3>
                <p>Get the latest posts delivered right to your inbox or subscribe <a href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/" title="RSS">via RSS</a> with Feedly!</p>
            </div>
            <div class="one-half column">
                {{subscribe_form placeholder="email address"}}
            </div>
        </div>
    </section>
    {{/if}}
    <section class="copyright text-center">
        &copy; {{date format="YYYY"}} 
        <a href="{{@blog.url}}">{{@blog.title}}</a> 
        <span>All rights reserved. Made with <a href="http://ghost.org/">Ghost</a>.</span> 
    </section>
    <section class="social text-center">
        <a href="https://twitter.com/stefanbc"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
        <a href="https://github.com/stefanbc"><i class="fa fa-github" aria-hidden="true"></i></a> 
        <a href="https://plus.google.com/+StefanCosmaIO"><i class="fa fa-google-plus" aria-hidden="true"></i></a> 
        <a href="http://linkedin.com/in/stefanbc"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
        <a href="{{@blog.url}}/rss"><i class="fa fa-rss" aria-hidden="true"></i></a> 
        <a href="mailto:hello@stefancosma.xyz?subject=Hello!"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    </section>
</footer>