<div class="container">
    {{#if @labs.subscribers}}
    <section class="gh-subscribe">
        <h3 class="gh-subscribe-title">Subscribe to {{@blog.title}}</h3>
        <p>Get the latest posts delivered right to your inbox.</p>
        {{subscribe_form placeholder="Your email address"}}
        <span class="gh-subscribe-rss">or subscribe <a href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/">via RSS</a> with Feedly!</span>
    </section>
    {{/if}}
</div>
<div class="container">
    <footer id="footer" class="twelve columns">
        <br />
        <br />
        <section class="copyright">
        &copy; {{date format="YYYY"}} 
        <a href="{{@blog.url}}">{{@blog.title}}</a> 
        <span style="font-size: .8em; font-weight: 600;">All rights reserved. Made with <a href="http://ghost.org/">Ghost</a>.</span> 
        </section>
        <a href="https://twitter.com/stefanbc"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
        <a href="https://github.com/stefanbc"><i class="fa fa-github" aria-hidden="true"></i></a> 
        <a href="https://plus.google.com/+StefanCosmaIO"><i class="fa fa-google-plus" aria-hidden="true"></i></a> 
        <a href="http://linkedin.com/in/stefanbc"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
        <a href="{{@blog.url}}/rss"><i class="fa fa-rss" aria-hidden="true"></i></a> 
        <a href="mailto:hello@stefancosma.xyz?subject=Hello!"><i class="fa fa-envelope" aria-hidden="true"></i></a> 
        <br />
        <br />
    </footer>
</div>