<header class="site-header">
    <div class="row">
        {{#if @site.logo}}
        <div class="one column">
            <a class="logo-link" title="{{@site.title}}" href="{{@site.url}}">
                <img src="{{@site.logo}}" alt="{{@site.title}}" class="blog-logo" />
            </a>
        </div>
        <div class="nine columns">
            <h1 class="title">
                <a href="{{@site.url}}" title="{{@site.title}}">{{@site.title}}</a>
            </h1>
            <h6 class="subtitle">{{@site.description}}</h6>
        </div>
        {{#if @labs.members}}
        <div class="two columns">
            <a class="button button-primary" href="#subscribe">Subscribe</a>
        </div>
        {{/if}}
        {{else}}
        <div class="ten columns">
            <h1 class="title">
                <a href="{{@site.url}}" title="{{@site.title}}">{{@site.title}}</a>
            </h1>
            <h6 class="subtitle">{{@site.description}}</h6>
        </div>
        {{#if @labs.members}}
        <div class="two columns">
            <a class="button button-primary" href="#subscribe">Subscribe</a>
        </div>
        {{/if}}
        {{/if}}
    </div>
</header>
{{#if @site.navigation}}
{{navigation}}
{{/if}}