<header class="text-center">
    <h1 class="title">
        <a href="{{@blog.url}}" title="{{@blog.title}}">{{@blog.title}}</a>
    </h1>
    <h6 class="subtitle">{{@blog.description}}</h6>
    {{navigation}}
</header>