{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
	<div class="posts">
		<br /><h4 class="list-headline"><a href="{{url}}">{{{title}}}</a></h4>
		<p>{{excerpt words="50"}}... <a class="read-more" href="{{url}}">read more &raquo;</a>
	</div>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}