<section class="post-share text-right">
    <a class="link twitter" href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}">
        <i class="fab fa-twitter"></i>
    </a>
    <a class="link facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}">
        <i class="fab fa-facebook"></i>
    </a>
    <a class="link reddit" href="http://www.reddit.com/submit?url={{url absolute="true"}}">
        <i class="fab fa-reddit"></i>
    </a>
    <a class="link hackernews" href="http://news.ycombinator.com/submitlink?u={{url absolute="true"}}">
        <i class="fab fa-hacker-news"></i>
    </a>
</section>