<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{#unless post}}{{#if message}}{{message}} | {{@blog.title}}{{/if}}{{meta_title}} | {{@blog.description}}{{else}}{{meta_title}} | {{@blog.title}}{{/unless}}</title>
    
    {{> "meta"}}

    {{{block "meta_index"}}}
    {{{block "meta_page"}}}
    {{{block "meta_post"}}}

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:300,400,600">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.min.css"}}" />

    {{!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries --}}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    {{ghost_head}}
  </head>      
  <body class="{{body_class}} nav-closed">
    <div class="container">
      {{> "header"}}
      {{{body}}}
      {{> "footer"}}
    </div>
    {{ghost_foot}}
  </body>
</html>