<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{#unless post}}{{#if message}}{{message}} | {{@blog.title}}{{/if}}{{meta_title}} | {{@blog.description}}{{else}}{{meta_title}} | {{@blog.title}}{{/unless}}</title>

    {{> "meta"}}

    {{{block "meta_index"}}}

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:300,400,700">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{asset "css/vendor.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.min.css"}}" />

    {{!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries --}}
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    <div id="content-wrapper" class="container">
      {{> "header"}}
      <main rol="main">
        {{{body}}}
      </main>
      {{> "footer"}}
    </div>
    {{ghost_foot}}
  </body>
</html>