<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META
    ------------------------- -->
    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <!-- Mobile Specific Metas
    ------------------------- -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    ------------------------- -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:300,400,600">


    <!-- CSS
    ------------------------- -->
    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.min.css"}}" />
    
    <!-- JS
    ------------------------- -->

    <!-- FAVICON
    ------------------------- -->
    <link rel="shortcut icon" href="{{asset "/images/favicon.ico"}}">
    
    {{ghost_head}}
  </head>      
  <body class="{{body_class}} nav-closed">
    <div class="container">
      {{> "header"}}
      {{{body}}}
      {{> "footer"}}
    </div>  <!-- end footer div.table-block -->
    {{ghost_foot}}
  </body>
</html>