{{!< default}}

{{#post}}
<article class="post-wrapper">
    <div class="row">
        <div class="five columns">
            <section class="author-meta">
                {{#primary_author}}
                <div class="row">
                    <div class="twelve columns">
                        <img class="author-image" src="{{img_url profile_image}}" alt="{{name}}">
                        <h1 class="author-name">
                            <a href="{{url}}">{{name}}</a>
                        </h1>
                        <p>{{bio}}</p>
                        <dl>
                            {{#if website}}
                            <dt><span class="author-info-icon"><i class="fas fa-link" aria-hidden="true"></i></span> <a
                                    href="{{website}}" title="{{name}} Website" target="_blank"
                                    rel="noopener">{{website}}</a></dt>
                            {{/if}}
                            {{#if location}}
                            <dt><span class="author-info-icon"><i class="fas fa-map-marker-alt"
                                        aria-hidden="true"></i></span> {{location}}
                            </dt>
                            {{/if}}
                            <dt><span class="author-info-icon"><i class="fas fa-pencil-alt"
                                        aria-hidden="true"></i></span>
                                {{#get "posts" filter="authors:{{slug}}" limit="all"}}
                                {{posts.length}}
                                {{/get}}
                                posts
                            </dt>
                        </dl>
                        <section class="about-list">
                            {{#if twitter}}
                            <a href="{{twitter_url twitter}}" target="_blank" rel="noopener"><i class="fab fa-twitter"
                                    aria-hidden="true"></i></a>
                            {{/if}}
                            {{#if facebook}}
                            <a href="{{facebook_url facebook}}" target="_blank" rel="noopener"><i
                                    class="fab fa-facebook" aria-hidden="true"></i></a>
                            {{/if}}
                        </section>
                    </div>
                </div>
                {{/primary_author}}
            </section>
        </div>
        <div class="offset-by-one six columns u-pull-right">
            <section class="post-full-content">
                <div class="post-content">
                    {{content}}
                </div>
            </section>
        </div>
    </div>
    {{/post}}