{{!< default}}

{{#post}}
{{#if featured}}
<article class="post-wrapper featured-post">
    {{else}}
    <article class="post-wrapper">
        {{/if}}
        <div class="row">
            <div class="twelve columns">
                {{#if feature_image}}
                <section class="post-media text-center">
                    <img src="{{img_url feature_image}}" class="cover-image">
                </section>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="eight columns">
                <header class="entry-header">
                    <p class="entry-author">
                        {{#primary_author}}
                        By <a href="{{url}}">{{name}}</a>
                        {{/primary_author}}
                    </p>
                    <h1 class="entry-title">{{{title}}}</h1>
                    <time class="entry-date"
                        datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> - <time
                        class="entry-reading-time">{{reading_time}}</time>
                </header>

                <section class="post-full-content">
                    <div class="post-content">
                        {{content}}
                    </div>
                </section>

                <div class="post-spacer"></div>

                <aside class="read-next">
                    <div class="row">
                        <div class="one-half column">
                            {{#next_post}}
                            <p><em>Next story</em></p>
                            <a class="read-next-story" href="{{url}}">
                                <section class="post">
                                    <h3>{{title}}</h3>
                                </section>
                            </a>
                            {{/next_post}}
                        </div>
                        <div class="one-half column text-right">
                            <p><em>Previous story</em></p>
                            {{#prev_post}}
                            <a class="read-next-story prev" href="{{url}}">
                                <section class="post">
                                    <h4>{{title}}</h4>
                                </section>
                            </a>
                            {{/prev_post}}
                        </div>
                    </div>
                </aside>
            </div>
            <div class="four columns">
                <aside class="sidebar">
                    {{> "sidebar"}}
                </aside>
            </div>
        </div>
    </article>
    {{/post}}