{{!< default}}

  <section class="header">
      <h1 class="title">{{@blog.title}}</h1>
  </section>
  
    {{navigation}}
  
  {{#post}}
  
  <div class="container">
  <br /><br />
      <h2>{{{title}}}</h2>
	  <section class="post-meta">
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
      </section>
  </div>
  
  <div class="container">
  {{content}}
  </div>
  <div class="container">
		<div class="post-spacer"></div>
		<div class="row">
			<div class="six columns">
				<section class="post-tags">
					{{#if tags}}<div class="post-meta tags"><i class="fa fa-tags"></i> {{tags}}</div>{{/if}}
				</section>
			</div>
			<div class="six columns">
				<section class="post-share">
					<a class="link twitter" href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"><i class="fa fa-twitter"></i></a>
					<a class="link facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"><i class="fa fa-facebook"></i></a>
					<a class="link reddit" href="http://www.reddit.com/submit?url={{url absolute="true"}}"><i class="fa fa-reddit"></i></a>
					<a class="link hackernews" href="http://news.ycombinator.com/submitlink?u={{url absolute="true"}}"><i class="fa fa-hacker-news"></i></a>          
				</section>
			</div>
  <br /><br />
  {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}
		<div class="row">
			<div class="two columns">
			<img class="authorimage" src="{{image}}">
			</div>
			<div class="four columns">
			<h4><span class="author-name"><a href="{{url}}">{{name}}</a></span></h4>
			<span class="author-location"><i class="fa fa-map-marker"></i> {{location}}</span> | <span class="website"><a href="{{website}}">{{website}}</a></span>
			</div>
			<div class="six columns">
			<br /><p>{{bio}}</p>
			</div>
		</div>
        {{/author}}
  <div class="post-spacer"></div><br />
  <aside class="read-next">
  <div class="row">
	<div class="six columns">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h4>{{title}}</h4>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
	</div>
	<div class="six columns">
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h4>{{title}}</h4>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
	</div>
</div>
</aside>

{{/post}}