{{!< default}}
{{#post}}
    <article class="post-wrapper">
        {{#if image}}
            <section class="post-media text-center">
                <img src="{{image}}" class="cover-image">
            </section>
        {{/if}}

        <h2 class="post-title text-center">{{{title}}}</h2>

        <section class="post-meta text-center">
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
        </section>

        <section class="post-content">
            {{content}}
        </section>

        <div class="post-spacer"></div>

        <section class="post-extra">
            <div class="row">
                <div class="eight columns">
                    <section class="post-tags">
                        {{#if tags}}
                            <div class="post-meta tags"><i class="fa fa-tags"></i> {{tags}}</div>
                        {{/if}}
                    </section>
                </div>
                <div class="four columns">
                    {{> "share"}}
                </div>
            </div>
        </section>
        
        <section class="author-meta">
            {{#author}}
            <div class="row">
                <div class="two columns">
                    <img class="author-image" src="{{image}}" alt="{{name}}">
                </div>
                <div class="four columns">
                    <h4 class="author-name">
                        <a href="{{url}}">{{name}}</a>
                    </h4>
                    <a href="{{twitter_url}}">{{twitter}}</a>
                </div>
                <div class="six columns">
                    <p>{{bio}}</p>
                </div>
            </div>
            {{/author}}
        </section>

        <div class="post-spacer"></div>

        <aside class="read-next">
            <div class="row">
                <div class="six columns">
                    {{#next_post}}
                        <a class="read-next-story" href="{{url}}">
                            <section class="post">
                                <h4>{{title}}</h4>
                                <p>{{excerpt words="19"}}&hellip;</p>
                            </section>
                        </a>
                    {{/next_post}}
                </div>
                <div class="six columns">
                    {{#prev_post}}
                        <a class="read-next-story prev" href="{{url}}">
                            <section class="post">
                                <h4>{{title}}</h4>
                                <p>{{excerpt words="19"}}&hellip;</p>
                            </section>
                        </a>
                    {{/prev_post}}
                </div>
            </div>
        </aside>
  </article>
{{/post}}